*{
    margin:0px;
    font-family: Arial, sans-serif;
    
}


header{
    background-color: #303030 ;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: auto;
}

#logo{
    margin-right: 20px;
    width:120px;
    height:99px;
}

.dropbtn {
    background: #1a365d;
    color:beige;
    padding:16px;
    font-size: 16px;
    border: none;
    border-radius: 10%;
    margin-left:10px;
    margin-top: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 20px 0px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1a365d;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a{
    color: beige;
    padding: 12px 16px;
    text-decoration: none;
    display: block
}

.dropdown-content a:hover {background-color: #96c0e0;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #96c0e0;}

body{
    background-color: #2E5C8A;
}

.window-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.flex-item{
    background: beige;
    border: 2px solid #111;
    padding: 20px;
    border-radius: 5px;
    color: rgb(109, 109, 109);
    height: auto 350px;
    width: 200px;
    flex-grow: 1;
    margin:10px;

}
